DISCORD_WEBHOOK_URL_USER=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_ACCOUNT=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_CALL=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_CAMPAIGN=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_CASE=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_CONTACT=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_DOCUMENT=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_MEETING=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_OPPORTUNITY=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_TARGETLIST=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
DISCORD_WEBHOOK_URL_TASK=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
TEST_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1383346611245285386/WIyWZpVoMStIlcT1XpF-wn5l_7_XTep3l4IrK2iZGSkpoj8IiYjkKVSTHsVaGjccduw-
